@import (reference) '../../common/common';

@select: ~'.ui-select';

@{select} {
    .text();
    background-color: white;
    color: @color-mako;
    border: 2px solid @color-geyser;
    border-radius: 6px;
    padding: 5px;
    cursor: pointer;
    transition: border-color .3s @cubic-bezier;

    &:hover {
        border-color: @color-aqua;
    }

    &:focus {
        outline: none;
        border-color: @color-casablanca;
        transition: none;
    }

    &:active {
        border-color: @color-casablanca;
        transition: none;
    }

    &__option {
        .text_size_m();
    }
}