@import (reference) '../../common/common';

.ui-icon {
    display: inline-block;
    vertical-align: middle;
    line-height: 0;

    &_button {
        background: none;
        border: none;
        padding: 0;
        margin: 0;
        font-size: 0;
        cursor: pointer;
    }

    &__svg {
        fill: @color-mako;
        stroke: @color-mako;
        transition: all .3s @cubic-bezier;

        &_fill {
            &_gradient {fill: url(#iconGradient)}
            &_white {fill: white;}
            &_fountain {fill: @color-fountain;}
            &_geyser {fill: @color-geyser;}
            &_olivine {fill: @color-olivine;}
            &_kidnapper {fill: @color-kidnapper;}
            &_chestnut {fill: @color-chestnut;}
            &_tonys {fill: @color-tonys;}
        }

        &_stroke {
            &_gradient {stroke: url(#iconGradient)}
            &_white {stroke: white;}
            &_fountain {stroke: @color-fountain;}
            &_geyser {stroke: @color-geyser;}
            &_olivine {stroke: @color-olivine;}
            &_kidnapper {stroke: @color-kidnapper;}
            &_chestnut {stroke: @color-chestnut;}
            &_tonys {stroke: @color-tonys;}
        }
    }

    &_size {
        &_12 {width: 12px}
        &_16 {width: 16px}
        &_24 {width: 24px}
        &_32 {width: 32px}
    }
}
