@import (reference) '../../common/common';

@list: ~'.ui-category-list';

@{list} {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: -15px;

    &__empty,
    &__item {
        flex-basis: 0;
        flex-grow: 1;
        min-width: 220px;
        margin: 15px;
        border:1px solid transparent;
    }

    &__item {
        padding: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        &-top {
            padding: 20px;
        }

        &-info {
            color: @color-regent;
        }

        &-bottom {
            padding: 0 20px 20px;
            margin-top: -10px;
        }
    }
}