@import (reference) '../../common/common';

@remove: ~'.ui-remove-button';

@{remove} {
    display: inline-block;
    vertical-align: middle;
    background-color: transparent;
    color: @color-chestnut;
    border: none;
    border-radius: 6px;
    .text_size_l();
    line-height: 1;
    text-align: center;
    padding: 0;
    margin: 0;
    cursor: pointer;
    transition:
            background-color .3s @cubic-bezier,
            color .3s @cubic-bezier;

    &:hover {
        background-color: @color-chestnut;
        color: white;
    }

    &:focus {
        outline-color: @color-chestnut;
        transition: none;
    }

    &:active {
        outline: none;
        background-color: @color-casablanca;
        color: white;
        transition: none;
    }


}