@import (reference) '../../common/common';

.ui-product {

    &__tile {
        padding-top: 40px;
        padding-bottom: 40px;

        @media @media-phone {
            padding-top: 30px;
            padding-bottom: 30px;
        }
    }

    &__flex {
        display: flex;

        @media @media-phone {
            flex-direction: column;
        }
    }

    &__image-wrapper {
        flex-shrink: 0;
        max-width: 50%;

        @media @media-phone {
            max-width: none;
            text-align: center;
            order: 2;
        }
    }

    &__info-wrapper {
        padding: 0 20px 0 40px;

        @media @media-phone {
            order: 1;
            padding: 0 0 30px 0;
        }
    }

    &__image {
        max-width: 100%;
    }

    &__title {
        margin-top: 0;
        margin-bottom: 20px;

        @media @media-desktop {
            .title_size_l();
        }
        @media @media-mobile {
            .title_size_l();
        }
        @media @media-phone {
            .title_size_m();
        }
    }

    &__models {
        margin-bottom: 10px;
    }

    &__price {
        .text_size_xxl();
        margin-top: 20px;
        margin-bottom: 20px;
    }

    &__buy-button {
        margin-right: 30px;
    }

    &__order-link {
        display: inline-block;
        vertical-align: middle;
        padding: 10px 0;
        color: @color-regent;
        .text_size_s();
    }

    &__description {
        margin-top: 40px;

        &_desktop {
            @media @media-mobile {
                display: none;
            }
        }

        &_mobile {
            display: none;

            @media @media-mobile {
                display: block;
                margin-top: 30px;
            }

            @media @media-phone {
                margin-top: 20px;
            }
        }
    }
}