@import (reference) '../../common/common';

.ui-columns {
    column-gap: 50px;
    column-rule: 1px solid @color-lavender;
    text-align: justify;

    &_1 {columns: 1;}
    &_2 {columns: 2;}
    &_3 {columns: 3;}
    &_4 {columns: 4;}

    @media @media-phone {
        &_mob {
            &_1 {columns: 1;}
            &_2 {columns: 2;}
            &_3 {columns: 3;}
            &_4 {columns: 4;}
        }
    }

}