@import (reference) '../common/common';

.footer {
    margin-top: 60px;
    border-top: 1px solid @color-lavender;
    padding: 30px 0;

    &__nav {

    }

    &__link {
        margin-right: 20px;
    }

    &__copyright {
        color: @color-regent;
        margin-top: 20px;

        @media @media-phone {
            .text_size_s();
        }
    }
}