@import (reference) '../common/common';

.header {
    position: relative;
    display: flex;
    justify-content: space-between;
    margin: 20px 0 40px 0;

    @media @media-phone {
        display: block;
    }

    &__left {
        @media @media-phone {
            margin-bottom: 20px;
        }
    }

    &__right {
        text-align: right;

        @media @media-mobile {
            position: absolute;
            top: 0;
            right: 0;
        }

        @media @media-phone {
            position: relative;
            height: 52px;
        }

        &-strip {
            @media @media-phone {
                .tile();
                margin: 0 -20px;
                padding: 0;
                border-radius: 0;
                position: relative;
                text-align: left;

                &_sticky {
                    position: fixed;
                    top: 0;
                    left: 0;
                    right: 0;
                    margin: 0;
                    z-index: 1;
                }
            }
        }
    }

    &__logo-wrapper {
        @media @media-phone {
            display: block;
        }
    }

    &__logo {
        display: inline-block;
        vertical-align: middle;
        margin-right: 40px;
        .title_size_m();
        line-height: 32px;
        border-bottom-width: 3px;
        color: @color-smoky;

        &:hover {
            color: @color-casablanca;
        }

        &_active {
            border-color: @color-waterloo;

            &:hover {
                color: @color-smoky;
                border-color: @color-waterloo;
                cursor: default;
            }
        }
    }

    &__logo-menu-toggle {
        display: none;

        @media @media-phone {
            display: inline-block;
            float: right;
            margin-top: 7px;
        }
    }

    &__links {
        display: inline-block;
        vertical-align: middle;
        line-height: 35px;
        max-height: 35px * 3;
        overflow: hidden;
        transition: all .3s @cubic-bezier;

        @media @media-mobile {
            display: block;
            margin-top: 20px;
        }

        &_collapsed {
            @media @media-phone {
                max-height: 0;
                margin-top: 0;
                opacity: 0;
            }
        }

        &-list {
            list-style: none;
            margin: 0;
            padding: 0;
        }

        &-item {
            display: inline-block;
            vertical-align: top;
            margin-right: 20px;

            @media @media-phone {
                display: block;
            }
        }
    }

    &__menu {
        &-list {
            .tile();
            display: inline-block;
            list-style: none;
            padding: 0;
            margin: 25px 0 0 0;
            overflow: hidden;
            max-height: 52px * 3;
            transition: all .3s @cubic-bezier;

            @media @media-phone {
                display: block;
            }

            &_collapsed {
                @media @media-phone {
                    max-height: 0;
                    margin-top: 0;
                    opacity: 0;
                }
            }
        }

        &-item {
            display: inline-block;
            vertical-align: top;
            border-left: 1px solid @color-geyser;

            &:first-child {
                border: none;
            }

            @media @media-phone {
                display: block;
                border: none;
            }
        }

        &-link {
            display: block;
            padding: 15px 25px;
            border: none;
            color: @color-smoky;
            transition: all .3s @cubic-bezier;

            &:hover {
                color: @color-smoky;
                background-color: @color-iceberg;
            }

            &_active {
                background-color: @color-waterloo;
                color: white;

                &:hover {
                    background-color: @color-waterloo;
                    color: white;
                    cursor: default;
                }
            }
        }
    }

    &__right-block {
        line-height: 35px;

        @media @media-phone {
            float: right;
        }
    }

    &__phone {
        display: inline-block;
        vertical-align: middle;
        .text_size_xl();
        margin-right: 40px;
        color: @color-smoky;
        border: none;

        @media @media-phone {
            display: none;
        }
    }

    &__auth {
        display: inline-block;
        vertical-align: middle;

        @media @media-phone {
            margin: 9px 20px 0 0;
        }
    }

    &__cart {
        margin-top: 24px;

        @media @media-mobile {
            margin-top: 10px;
        }

        @media @media-phone {
            margin-top: 0;
        }
    }

}