@import (reference) '../../common/common';

.page-404 {
    &__sub {
        .text_size_s();
        .text_weight_medium();
        margin-left: 3px;
    }

    &__subtitle {
        margin-top: 0;
    }
}