@import (reference) '../../common/common';

@order-delivery: ~'.ui-order-delivery';
@input: ~'.ui-order-delivery__input';
@label: ~'.ui-order-delivery__label';
@radio: ~'.ui-order-delivery__radio';

@{order-delivery} {
    &__block-title {
        margin: 15px 0 10px;

        @media @media-phone {
            margin: 5px 0 10px;
        }
    }

    &__options{
        display: flex;
        flex-wrap: wrap;
        margin: 0 -15px;
    }

    &__option {
        position: relative;
        padding-left: 40px;
        flex-basis: 0;
        flex-grow: 1;
        min-width: 160px;
        margin: 20px 15px;
        transition: opacity .3s @cubic-bezier;

        &_fade {
            opacity: .3;

            &:hover {
                opacity: 1;
            }
        }

        @media @media-phone {
            margin: 15px 15px;
        }
    }

    &__input {
        position: absolute;
        top: 11px;
        left: 6px;
    }

    &__radio {
        position: absolute;
        top: 5px;
        left: 0;
        background-color: white;
        border: 2px solid @color-geyser;
        border-radius: 50%;
        width: 20px;
        height: 20px;
        transition: border-color .3s @cubic-bezier, background-color .3s @cubic-bezier;

        &:after {
            content: '';
            position: absolute;
            top: 5px;
            left: 5px;
            right: 5px;
            bottom: 5px;
            border-radius: 50%;
            transition: background-color .3s @cubic-bezier;
        }
    }

    &__label {
        display: block;
        cursor: pointer;

        &:hover {
            @{radio} {
                border-color: @color-aqua;
                &:after {
                    background-color: @color-iceberg;
                }
            }
        }
    }

    &__image {
        display: block;
        height: 36px;
        margin-bottom: 10px;

        &-empty {
            height: 4px;
        }
    }

    &__title {
        .text_size_l();
        margin-bottom: 10px;

        @media @media-phone {
            .text_size_m();
        }
    }

    &__description {
        .text_size_m();

        @media @media-phone {
            .text_size_s();
        }
    }
}

@{input}:focus + @{label} {
    @{radio} {
        border-color: @color-casablanca;
    }
}

@{input}:active + @{label} {
    @{radio} {
        border-color: @color-casablanca;
        background-color: @color-grandis;
        transition: none;

        &:after {
            background-color: @color-casablanca;
            transition: none;
        }
    }
}

@{input}:checked + @{label} {
    @{radio} {
        border-color: @color-lavender;
        background-color: @color-athens;

        &:after {
            background-color: @color-waterloo;
        }
    }
}