@import (reference) '../../common/common';

@link: ~'.ui-link';

@{link} {
    color: @color-fountain;
    text-decoration: none;
    border-bottom: 1px solid @color-aqua;
    cursor: pointer;

    &_dashed {
        border-bottom-style: dashed;
    }

    &__external-icon {
        .ui-icon__svg {
            fill: white;
            stroke: @color-fountain;
            transition: none;
        }
    }

    &:hover {
        color: @color-casablanca;
        border-color: @color-grandis;

        @{link}__external-icon {
            .ui-icon__svg {
                fill: white;
                stroke: @color-casablanca;
            }
        }
    }

    &:active {
        color: @color-casablanca;
        border-color: @color-casablanca;
        transition: none;
    }

    &_active {
        border: none;
        color: @color-mako;
        cursor: default;

        &:hover {
            color: @color-mako;
        }
    }
}