@import (reference) '../../common/common';

@loading: ~'.ui-loading';

@{loading} {

    &_hidden {
        display: none !important;
    }

    &_cover-parent {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgba(255,255,255, .9);
    }

    &__svg {
        width: 50px;
        fill: @color-waterloo;

        &_cover-parent {
            position: absolute;
            top: 50%;
            left: 50%;
            width: 70px;
            margin: -35px 0 0 -35px;
            /*background-color: white;
            border-radius: 50%;*/
        }
    }
}