@import (reference) '../../common/common';

@input: ~'.ui-input';

@{input} {
    .text();
    background-color: white;
    color: @color-mako;
    border: 2px solid @color-geyser;
    border-radius: 6px;
    padding: 10px 15px;
    box-sizing: border-box;
    letter-spacing: .5px;
    transition: border-color .3s @cubic-bezier;

    &_wide {
        width: 100%;
    }

    &_phone-wide {
        @media @media-phone {
            width: 100%;
        }
    }

    &_type {
        &_password {
            letter-spacing: 6px;
            .text_weight_bold();
        }
    }

    &_error {
        border-color: @color-tonys;
    }

    &:hover {
        border-color: @color-aqua;
    }

    &:focus {
        outline: none;
        border-color: @color-casablanca;
        transition: none;
    }

    &:active {
        border-color: @color-casablanca;
        transition: none;
    }
}