@import (reference) '../../common/common';

@buy: ~'.ui-button-buy';

@{buy} {
    &__wrapper {
        white-space: nowrap;
    }

    &__button {
        &-icon {
            margin-right: 25px;
        }

        @media @media-phone {
            padding-left: 19px;
            padding-right: 18px;

            &-icon {
                margin-right: 15px;
            }
        }
    }

    &__minus,
    &__plus {
        font-size: 23px;
        border-radius: 6px 0 0 6px;

        &:hover {
            z-index: 1;
        }
    }

    &__plus {
        border-radius:  0 6px 6px 0;
    }

    &__input {
        .text_size_l();
        position: relative;
        text-align: center;
        width: 110px;
        height: 66px;
        vertical-align: middle;
        border-radius: 0;
        margin: 0 -2px;

        &_small {
            width: 65px;
            height: 46px;
            padding-left: 5px;
            padding-right: 5px;
        }

        &:hover,
        &:focus {
            z-index: 1;
        }
    }
}