@import (reference) '../../common/common';

.ui-title {
    .title();
    color: @color-regent;
    word-wrap: break-word;

    &_h1 {
        .title_size_xl();
        margin: 50px 0 30px;

        @media @media-phone {
            .title_size_m();
            margin: 40px 0 20px;
        }
    }

    &_h2 {
        .title_size_l();
        margin: 50px 0 30px;
    }

    &_h3 {
        .text_size_xl();
        .text_weight_medium();
        margin: 40px 0 20px;

        @media @media-phone {
            .text_size_l();
            .text_weight_medium();
        }
    }

    &_h4 {
        .title_size_s();
    }

    &__gradient {
        display: inline-block;
        .gradient-text();
    }
}