@import (reference) '../../common/common';

.page-main {
    &__carousel {
        min-width: 770px;
        width: 750px;
        border: 1px solid @color-lavender;
        background-color: #f7f7f7;
    }
    &__banner {

        &_1 {
            display: block;
            text-decoration: none;
            padding: 40px 60px 0 340px;
            height: 330px;
            background-image: url('/images/chair-test.jpg');
            background-size: auto 90%;
            background-position: -60px center ;
            background-repeat: no-repeat;
            color: @color-mako;

            &-title {
                .title_size_m();
                text-align: right;
                color: @color-smoky;
            }

            &-text {
                .text_size_l();
                padding-top: 40px;
            }

            &-list {
                .text_size_m();

                li {
                    margin-top: 5px;
                }
            }
        }

        &_2 {
            display: block;
            text-decoration: none;
            background-color: #FFBA38;

            &-title {

            }

            &-text {

            }

            &-sale {

            }
        }
    }
}