@import (reference) '../../common/common';

@orders-list: ~'.ui-orders-list';

@{orders-list} {
    &__tile {
        position: relative;
    }

    &__order{
        &-title {
            .text_size_xl();
            margin-bottom: 10px;

            @media @media-phone {
                margin-bottom: 0;
            }
        }

        &-date {
            color: @color-regent;
            position: absolute;
            top: 20px;
            right: 20px;

            @media @media-phone {
                position: static;
                margin-bottom: 15px;
            }
        }
    }

    &__table {
        width: 100%;

        @media @media-phone {
            display: block;
        }
    }

    &__tbody {
        @media @media-phone {
            display: block;
        }
    }

    &__tr {
        @media @media-phone {
            display: block;
            position: relative;
            padding-left: 34%;
            border-bottom: 1px dotted @color-geyser;
            margin-bottom: 20px;
            padding-bottom: 20px;

            &_total {
                border-bottom: none;
                margin-bottom: 0;
                padding-bottom: 0;
                padding-left: 5px;
            }
        }
    }

    &__td {
        padding: 5px 0 5px 15px;

        @media @media-phone {
            display: block;
            padding: 0;
        }

        &_image {
            padding-left: 0;
            width: 1px;

            @media @media-phone {
                width: 100%;
                position: absolute;
                top: 0;
                left: 0;
            }
        }

        &_title {

        }

        &_amount {
            .text_size_m();
            text-align: right;
            white-space: nowrap;
            width: 10%;

            @media @media-phone {
                width: auto;
                text-align: left;
                margin: 5px 0;
            }
        }

        &_price {
            text-align: right;
            white-space: nowrap;
            width: 15%;

            @media @media-phone {
                width: auto;
                text-align: left;
            }
        }

        &_sumprice {
            text-align: right;
            white-space: nowrap;
            width: 20%;

            @media @media-phone {
                width: auto;
                text-align: left;
            }
        }

        &_total {
            text-align: right;
            padding-left: 0;

            @media @media-phone {
                text-align: left;
            }
        }

    }

    &__image {
        display: block;
        height: 40px;
        margin-right: 15px;

        @media @media-phone {
            height: auto;
            margin: 0;
            max-width: 28%;
            max-height: 105px;
        }
    }

    &__title {

    }

    &__amount {
        @media @media-phone {
            float: left;
            padding-right: 5px;

            &:after {
                content: ' ×';
            }
        }
    }

    &__price {

    }

    &__sumprice {
        .text_size_xl();

        @media @media-phone {
            .text_size_l();
            .text_weight_light();
            padding-top: 5px;
        }
    }

    &__total {
        padding-top: 15px;
        border-top: 1px @color-mako dotted;

        .text_size_xl();
        .text_weight_regular();

        @media @media-phone {
            border: none;
            padding: 5px 0;
            .text_size_l();
        }
    }

    &__remove {
        vertical-align: top;

        @media @media-phone {
            margin-right: -10px;
        }
    }

}