@import (reference) '../../common/common';

.auth {
    position: relative;

    @media @media-phone {
        position: static;
    }

    &__block {
        .text_size_m();
        position: absolute;
        top: 100%;
        right: 0;
        text-align: left;
        padding-top: 25px;

        @media @media-phone {
            width: auto;
            right: 0;
            left: 0;
            transform: translateY(-10px);
            padding: 20px;
            border-radius: 0;
            box-shadow: 0 3px 5px @color-lavender;
        }
    }

    &__buttons {
        margin-top: 25px;
    }

    &__forgot-hint {
        .text_size_m();
        color: @color-regent;
        margin: 26px 0;
    }

    &__forgot-link {
        .text_size_s();
        float: right;
        margin-top: 20px;
    }

    &__profile-links {
        min-width: 200px;
    }

    &__profile-link {
        margin-top: 10px;

        &:first-child {
            margin-top: 0;
        }

        &:last-child {
            margin-top: 25px;
        }
    }
}