@import (reference) '../../common/common';

@order-list: ~'.ui-order-list';

@{order-list} {
    &__block-title {
        margin: 15px 0 20px;

        @media @media-phone {
            margin: 5px 0 25px;
        }
    }

    &__empty {
        text-align: center;
    }

    &__table {
        width: 100%;

        @media @media-phone {
            display: block;
        }
    }

    &__tbody {
        @media @media-phone {
            display: block;
        }
    }

    &__tr {
        &_fade {
            .ui-order-list__td {
                opacity: .3;
            }

            &:hover {
                .ui-order-list__td_amount {
                    opacity: 1;
                }
            }
        }

        @media @media-phone {
            display: block;
            position: relative;
            padding-left: 34%;
            border-bottom: 1px dotted @color-geyser;
            margin-bottom: 20px;
            padding-bottom: 20px;

            &_total {
                border-bottom: none;
                margin-bottom: 0;
                padding-bottom: 0;
                padding-left: 5px;
            }
        }
    }

    &__td {
        padding: 15px 0 15px 15px;
        transition: opacity .3s @cubic-bezier; // see animation in __tr

        @media @media-phone {
            display: block;
            padding: 0;
        }

        &_image {
            width: 1px;
            padding-left: 0;
            padding-right: 15px;

            @media @media-phone {
                width: 100%;
                position: absolute;
                top: 0;
                left: 0;
            }
        }

        &_title {

        }

        &_amount {
            white-space: nowrap;
            .text_size_m();

            @media @media-phone {
                margin: 10px 0;
            }
        }

        &_price {
            text-align: right;
            white-space: nowrap;

            @media @media-phone {
                text-align: left;
            }
        }

        &_remove {
            text-align: right;
            width: 1px;

            @media @media-phone {
                width: auto;
                position: absolute;
                bottom: 70px;
                right: 0;
            }
        }

        &_total {
            text-align: right;
            padding-left: 0;

            @media @media-phone {
                text-align: left;
            }
        }

    }

    &__image {
        display: block;
        height: 80px;
        margin: 0 auto;

        @media @media-phone {
            height: auto;
            margin: 0;
            max-width: 28%;
            max-height: 105px;
        }
    }

    &__title {
        .text_size_l();

        @media @media-phone {
            .text_size_m();
        }
    }

    &__amount {
        &-select {
            max-width: 135px;
        }
    }

    &__price {
        .text_size_xl();

        @media @media-phone {
            .text_size_l();
            .text_weight_light();
        }
    }

    &__total {
        padding-top: 30px;
        border-top: 1px @color-mako dotted;

        .text_size_xl();
        .text_weight_regular();

        @media @media-phone {
            border: none;
            padding: 5px 0;
            .text_size_l();
        }
    }

    &__remove {
        vertical-align: top;

        @media @media-phone {
            margin-right: -10px;
        }
    }

}