@import (reference) '../../common/common';

@hint: ~'.ui-hint';

@{hint} {
    position: relative;
    display: inline-block;
    cursor: help;

    &__tooltip {
        /* overwrite react-tooltip styles */
        background-color: @color-waterloo !important;
        border-radius: 4px !important;
        padding: 10px 15px !important;
        .text_size_s() !important;
        transition: opacity .3s @cubic-bezier;

        &.show { opacity: 1 !important; }
        &.place-top:after { border-top-color: @color-waterloo !important; }
        &.place-right:after { border-right-color: @color-waterloo !important; }
        &.place-bottom:after { border-bottom-color: @color-waterloo !important; }
        &.place-left:after { border-left-color: @color-waterloo !important; }
    }

    &:hover {
        .ui-icon__svg {
            fill: @color-waterloo;
        }
    }
}