@import (reference) '../../common/common';

.ui-carousel {
    position: relative;
    white-space: nowrap;
    overflow: hidden;
    border-radius: 6px;

    &__item {
        display: inline-block;
        vertical-align: top;
        width: 100%;
        white-space: normal;

    }
}