@import (reference) '../../common/common';

.page-product {
    &__flex {
        display: flex;

        @media @media-phone {
            flex-direction: column;
        }
    }

    &__image-wrapper {
        @media @media-phone {
            text-align: center;
            order: 2;
        }
    }

    &__info-wrapper {
        padding: 0 20px 0 40px;

        @media @media-desktop {
            width: 50%;
        }

        @media @media-phone {
            order: 1;
            padding: 0 0 30px 0;
        }
    }

    &__image {
        max-width: 100%;
    }

    &__title {
        .title_size_l();
        margin: 20px 0;
    }

    &__price {
        .text_size_xxl();
    }

    &__button {
        margin-top: 20px;
        white-space: nowrap;

        &-icon {
            margin-right: 25px;
        }

        @media @media-phone {
            padding-left: 20px;
            padding-right: 18px;

            &-icon {
                margin-right: 15px;
            }
        }
    }

    &__description {
        margin-top: 40px;

        &_desktop {
            @media @media-mobile {
                display: none;
            }
        }

        &_mobile {
            display: none;

            @media @media-mobile {
                display: block;
                margin-top: 30px;
            }

            @media @media-phone {
                margin-top: 20px;
            }
        }
    }
}