@import (reference) '../../common/common';

.cart {
    position: relative;
    display: inline-block;
    text-align: left;

    @media @media-phone {
        position: static;
    }

    &__header {
        display: block;
        .tile();
        border: none;
        margin: 0;
        height: 52px;
        padding: 6px 20px 0 20px;
        .text_size_m();
        cursor: pointer;
        transition: background-color .3s @cubic-bezier;

        @media @media-phone {
            box-shadow: none;
        }

        &:hover {
            .ui-link {
                color: @color-casablanca;
                border-color: @color-grandis;
            }
        }

        &-text {
            display: inline-block;
            vertical-align: middle;
            margin-left: 10px;
        }
    }

    &__info {
        .text_size_s();
        color: @color-regent;
        margin-top: 2px;
    }

    &__body {
        position: absolute;
        top: 100%;
        right: 0;
        width: 420px;
        padding: 15px 15px 25px 25px;

        @media @media-phone {
            width: auto;
            right: 0;
            left: 0;
            transform: translateY(-10px);
            padding: 10px 10px 20px 20px;
            border-radius: 0;
            box-shadow: 0 3px 5px @color-lavender;
        }
    }

    &__empty {
        text-align: center;
    }

    &__table {
        width: 100%;
        font-size: 15px;
        line-height: 19px;
    }

    &__td {
        padding: 5px 0 5px 10px;
        vertical-align: bottom;

        &:first-child {
            padding-left: 0;
        }

        &_amount {
            white-space: nowrap;
        }

        &_price {
            white-space: nowrap;
            text-align: right;
        }

        &_total {
            text-align: right;
        }

        &_remove {
            padding-left: 5px;
            width: 1px;
        }
    }

    &__total {
        padding: 15px 0 5px;
        border-top: 1px dotted @color-regent;
    }
}