@import (reference) '../../common/common';

@button: ~'.ui-button';

@{button} {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    background-color: white;
    border: 2px solid @color-geyser;
    border-radius: 6px;
    outline: none;
    color: @color-fountain;
    text-decoration: none;
    cursor: pointer;
    transition: all .3s @cubic-bezier;

    .ui-icon__svg {
        fill: @color-fountain;
    }

    &:hover:not(.button_loading):not([disabled]):not(:active) {
        border-color: @color-casablanca;
        color: @color-casablanca;

        .ui-icon__svg {
            fill: @color-casablanca;
        }
    }

    &:focus:not([disabled]) {
        border-color: @color-casablanca;
    }

    &:active:not([disabled]) {
        background-color: @color-grandis;
        border-color: @color-casablanca;
        color: @color-casablanca;
        transition: none;

        .ui-icon__svg {
            fill: @color-casablanca;
        }
    }

    &_disabled {
        background-color: @color-athens;
        border-color: @color-geyser;
        color: @color-geyser;
        cursor: default;

        .ui-icon__svg {
            fill: @color-geyser;
        }

        /*&:hover {
            background-color: @color-athens;
        }*/
    }

    &_loading {
        cursor: default;
    }

    &_size {
        &_s {
            .text_size_m();
            .text_weight_medium();
            padding: 5px 10px;
        }

        &_m {
            .text_size_m();
            .text_weight_medium();
            padding: 15px 25px;
        }

        &_l {

        }
    }

    &__content {
        transition: opacity .3s @cubic-bezier;

        &_loading {
            opacity: .25;
        }
    }

    &__loader {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        // background-image: url(/images/loader.svg);
        background-size: auto 100%;
        background-repeat: no-repeat;
        background-position: center;
        opacity: 0;
        transition: opacity .3s @cubic-bezier;

        &_loading {
            opacity: 1;
        }
    }
}