@import (reference) '../../common/common';

@radio-tags: ~'.ui-radio-tags';
@input: ~'.ui-radio-tags__input';
@label: ~'.ui-radio-tags__label';

@{radio-tags} {
    .text_size_m();

    &__title {
        padding-right: 25px;

        &_inline {
            display: inline-block;
        }
    }

    &__options {
        display: inline-block;
        margin-left: -25px;
    }

    &__option {
        position: relative;
        display: inline-block;
        margin: 5px 0 5px 25px;
        cursor: pointer;
        text-decoration: none;
    }

    &__input {
        position: absolute;
        top: 2px;
        left: 2px;
        z-index: -1;
    }

    &__label {
        display: block;
        position: relative;
        cursor: pointer;

        &-content {
            position: relative;
            border: 2px solid @color-geyser;
            background-color: white;
            color: @color-fountain;
            border-radius: 6px;
            padding: 5px 10px;
            transition: border-color .3s @cubic-bezier, background-color .3s @cubic-bezier, color .3s @cubic-bezier;
        }

        &:before {
            content: '';
            border: 2px solid @color-geyser;
            border-radius: 50%;
            width: 16px;
            height: 16px;
            position: absolute;
            top: 50%;
            left: -8px;
            margin-top: -10px;
            transition: border-color .3s @cubic-bezier;
        }

        &:after {
            content: '';
            background-color: white;
            border: 4px solid white;
            border-radius: 50%;
            width: 8px;
            height: 8px;
            position: absolute;
            top: 50%;
            left: -6px;
            margin-top: -8px;
            transition: border-color .3s @cubic-bezier, background-color .3s @cubic-bezier;
        }

        &:hover {
            &:before {
                border-color: @color-aqua;
            }

            &:after {
                background-color: @color-iceberg;
            }

            @{label}-content {
                border-color: @color-aqua;
                //color: @color-casablanca;
            }
        }
    }

    &__hint {
        top: -1px;
        margin-left: 15px;
    }
}

@{input}:focus + @{label} {
    &:before {
        border-color: @color-casablanca;
    }

    &:after {
        background-color: @color-casablanca;
    }

    @{label}-content {
        border-color: @color-casablanca;
    }
}

@{input}:active + @{label} {
    &:before {
        border-color: @color-casablanca;
        transition: none;
    }

    &:after {
        background-color: @color-casablanca;
        border-color: @color-grandis;
        transition: none;
    }

    @{label}-content {
        border-color: @color-casablanca;
        background-color: @color-grandis;
        color: @color-casablanca;
        transition: none;
    }
}

@{input}:checked + @{label} {
    cursor: default;

    &:before {
        border-color: @color-lavender;
    }

    &:after {
        background-color: @color-waterloo;
        border-color: @color-athens;
    }

    @{label}-content {
        border-color: @color-lavender;
        background-color: @color-athens;
        color: @color-mako;
    }
}