@import (reference) '../../common/common';

.ui-tooltip-panel {
    .tile();
    padding: 20px 25px;
    margin-top: 10px;
    z-index: 1;
    overflow: hidden;
    transition: all .3s @cubic-bezier;

    &_collapsed {
        margin-top: 0;
        opacity: 0;
        visibility: hidden;
    }
}