@import (reference) '../../common/common';

@checkbox: ~'.ui-checkbox';
@input: ~'.ui-checkbox__input';
@label: ~'.ui-checkbox__label';
@box: ~'.ui-checkbox__box';

@{checkbox} {
    .text();
    line-height: 24px;
    position: relative;
    padding-left: 35px;
    margin-top: 15px;

    &__input {
        position: absolute;
        top: 11px;
        left: 6px;
    }

    &__box {
        position: absolute;
        top: 0;
        left: 0;
        background-color: white;
        border: 2px solid @color-geyser;
        border-radius: 6px;
        width: 20px;
        height: 20px;
        transition: border-color .3s @cubic-bezier, background-color .3s @cubic-bezier;

        &:after {
            content: '✓'; // ✓, ✔
            position: absolute;
            top: 0;
            left: 0;
            font-size: 20px;
            line-height: 1;
            width: 100%;
            text-align: center;
            color: transparent;
            transition: color .3s @cubic-bezier;
        }
    }

    &__label {
        display: inline-block;
        cursor: pointer;

        &:hover {
            @{box} {
                border-color: @color-aqua !important;
                &:after {
                    color: @color-iceberg;
                }
            }
        }
    }
}

@{input}:focus + @{label} {
    @{box} {
        border-color: @color-casablanca;
    }
}

@{input}:checked + @{label} {
    @{box} {
        border-color: @color-lavender;
        background-color: @color-athens;

        &:after {
            color: @color-waterloo;
        }
    }
}

@{input}:active + @{label} {
    @{box} {
        border-color: @color-casablanca !important;
        background-color: @color-grandis;
        transition: none;

        &:after {
            color: @color-casablanca;
            transition: none;
        }
    }
}

