@import (reference) '../../common/common';

.ui-alert {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 20px 0;
    background: @color-chestnut;
    color: white;
    box-shadow: 0 2px 6px rgba(0, 0, 0, .4);
    transition: transform .3s @cubic-bezier;
    z-index: 2;

    &_collapsed {
        transform: translateY(-110%);
    }

    &__container {
        display: flex;
        align-items: center;
    }

    &__icon {
        flex-shrink: 0;
        margin-right: 20px;
    }

    &__text {
        flex-grow: 1;
        vertical-align: middle;
    }

    &__close {
        flex-shrink: 0;
        float: right;
        opacity: .4;
        transition: opacity .3s @cubic-bezier;

        &:hover {
            opacity: 1;
        }
    }
}