@media-phone: ~'screen and (max-width: 767px)';
@media-mobile: ~'screen and (max-width: 991px)';
@media-desktop: ~'screen and (min-width: 992px)';

/*
@media-phone-small: ~'screen and (max-width: 370px)';
@media-phone: ~'screen and (max-width: 628px)';
@media-phone-gigant: ~'screen and (min-width: 541px) and (max-width: 600px)';
@media-tablets: ~'screen and (min-width: 629px)';
@media-only-tablets: ~'screen and (min-width: 629px) and (max-width: 1023px)';
@media-mobile: ~'screen and (max-width: 1023px)';
@media-desktop: ~'screen and (min-width: 1024px)';
@media-desktop-large: ~'screen and (min-width: 1281px)';
@media-desktop-dambo: ~'screen and (min-width: 1500px)';
@media-desktop-extra-large: ~'screen and (min-width: 1786px)';
@media-desktop-gigant: ~'screen and (min-width: 2560px)';

@media-retina: ~'(-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi)';
*/