@import (reference) '../../common/common';

@showcase: ~'.ui-onlays-showcase';
@item: ~'.ui-onlays-showcase__item';

@{showcase} {
    padding: 0;
    display: flex;

    @media @media-phone {
        display: block;
    }

    &__column {
        display: flex;
        flex-direction: column;

        @media @media-phone {
            display: block;
        }

        &_1 {
            flex-basis: 0;
            flex-grow: 1;
        }

        &_2 {
            flex-basis: 0;
            flex-grow: 1;

            @{item}-image-wrapper {
                display: flex;
                height: 110px;
            }
        }
    }

    &__row {
        display: flex;
        flex-grow: 1;

        @media @media-phone {
            display: block;
        }
    }

    &__item {
        padding: 30px;
        flex-basis: 0;
        flex-grow: 1;

        &-image-wrapper {
            display: block;
        }

        &-image {
            display: block;
            max-width: 100%;
            max-height: 100%;
            margin: auto;
        }

        &-title {
            margin: 15px 0 5px;
        }

        &-summary {
            color: @color-regent;
        }

        &-price {
            .text_size_xl();
            margin-top: 10px;
        }


    }

    &__bonus-dicount {
        .title_size_xl();
        float: left;
        line-height: 1;
        margin-right: 20px;
        color: @color-tonys;
    }

    &__bonus-image {
        width: 100px;
        float: left;
    }
}