@import "./normalize.less";

@import "./variables/media";
@import "./variables/colors";
@import "./variables/easing";

@import "./mixins/gradient-text";
@import "./mixins/tile";
@import "./mixins/typography";

/* Base styles */
body {
    .text_size_m();
    color: @color-mako;
    background-color: @color-athens;
    background-image: url('/images/pattern.svg');
    background-size: 720px;
}

table {
    border: none;
    border-collapse: collapse;
    border-spacing: 0;
}

.nobr {
    white-space: nowrap;
}