@import (reference) '../../common/common';

.ui-breadcrumbs {
    &__item {
        &:after {
            content: '/';
            color: @color-regent;
            margin: 0 7px;
        }

        &:last-child {
            &:after {
                display: none;
            }
        }
    }
}