@import (reference) '../../common/common';

@field: ~'.ui-field';

@{field} {
    position: relative;
    .text();

    & + @{field} {
        margin-top: 25px;
    }

    &__input-wrapper {
        position: relative;
        display: inline-block;

        &_wide {
            width: 100%;
        }

        &_phone-wide {
            @media @media-phone {
                width: 100%;
            }
        }
    }

    &__label {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 13px;
        color: @color-cadet;
        background-color: transparent;
        padding: 0 4px;
        cursor: text;
        //z-index: 1;
        transition: all .3s @cubic-bezier;

        &_up {
            font-size: 13px;
            top: -1px;
            background-color: white;
        }

        &_error {
            color: @color-chestnut;
        }

        &_focused {
            color: @color-casablanca
        }
    }

    &__error {
        .text_size_s();
        color: @color-chestnut;
        opacity: 1;
        max-height: 32px + 5px; // 2 rows of text + padding-top
        transition: opacity .3s @cubic-bezier, max-height .3s @cubic-bezier;

        &_collapse {
            opacity: 0;
            max-height: 0;
        }

        &-text {
            padding: 5px 5px 0;
        }
    }
}