@import (reference) '../variables/media';
@import (reference) '../variables/colors';

.gradient-text () {
    -webkit-text-fill-color: transparent;
    background: -webkit-linear-gradient(15deg, @color-smoky, @color-waterloo);
    background: -o-linear-gradient(15deg, @color-smoky, @color-waterloo);
    -webkit-background-clip: text;
}