@import (reference) '../variables/media';
@import (reference) '../variables/colors';

.tile (@padding: 20px, @margin: 25px 0) {
    background-color: white;
    box-shadow: 0 2px 6px @color-lavender;
    border-radius: 6px;
    padding: @padding;
    margin: @margin ;
    box-sizing: border-box;
}