@import (reference) '../variables/media';
@import (reference) '../variables/colors';

@font-fallback: 'Helvetica', 'Arial', sans-serif;
@font-text: 'Roboto', @font-fallback;
@font-title: 'Yeseva One', @font-fallback;

.font_text (@size: inherit, @line-height: inherit, @weight: 400) {
    font-family: @font-text;
    font-size: @size;
    line-height: @line-height;
    font-weight: @weight;
}

.font_title (@size: inherit, @line-height: inherit, @weight: 400) {
    font-family: @font-title;
    font-size: @size;
    line-height: @line-height;
    font-weight: @weight;
}

/* Text */

.text () {
    .font_text();
}

.text_size_s () {
    .font_text(12px, 1.4);
}

.text_size_m () {
    .font_text(16px, 1.4);
}

.text_size_l () {
    .font_text(20px, 1.4);
}

.text_size_xl () {
    .font_text(24px, 1.4, 300);
}

.text_size_xxl () {
    .font_text(32px, 1.4, 300);
}

.text_weight_light () {
    font-weight: 300;
}

.text_weight_regular () {
    font-weight: 400;
}

.text_weight_medium () {
    font-weight: 500;
}

.text_weight_bold () {
    font-weight: 600;
}

/* Title */

.title () {
    .font_title();
}

.title_size_s () {
    .font_title(17px, 23px);
}

.title_size_m () {
    .font_title(31px, 36px);
}

.title_size_l () {
    .font_title(40px, 42px);
}

.title_size_xl () {
    .font_title(46px, 56px);
}

.title_size_xxl () {
    .font_title(76px, 91px);
}
