@import (reference) '../../common/common';

@list: ~'.ui-product-list';

@{list} {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: -15px;

    &__empty,
    &__item {
        flex-basis: 0;
        flex-grow: 1;
        min-width: 235px;
        margin: 15px;
        border:1px solid transparent;
    }

    &__item {
        padding: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        &-info {
            padding: 20px;
            padding-bottom: 10px;
        }

        &-image {
            display: block;
            max-width: 100%;
            max-height: 100%;
            margin: auto;

            &-wrapper {
                height: 170px;
                display: flex;
                align-content: center;
                align-items: center;
            }
        }

        &-title {
            margin: 15px 0 5px;
        }

        &-summary {
            color: @color-regent;
        }

        &-buy {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 20px;
            padding-top: 0;
        }

        &-price {
            .text_size_xl();
        }

        &-button {
            opacity: 0;

            @media @media-mobile {
                opacity: 1;
            }

            &-icon {
                margin: -7px 0 -3px;
            }
        }

        &:hover {
            @{list}__item-button {
                opacity: 1;
            }
        }
    }
}