@import (reference) '../../common/common';

@order-form: ~'.ui-order-form';

@{order-form} {
    &__block-title {
        margin: 15px 0 10px;

        @media @media-phone {
            margin: 5px 0 10px;
        }
    }

    &__form {
        margin-top: 30px;
    }

    &__hint {
        margin: 30px 0 10px;
        text-align: center;

        @media @media-phone {
            .text_size_s();
        }
    }

    &__checkbox-company {
        margin: 30px 0 20px;
    }

    &__submit {
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        max-width: 350px;

        &-text {
            margin-bottom: 12px;
        }

        &-field-wrapper {
            padding-top: 10px;
        }
    }
}