@import (reference) '../../common/common';

.page-delivery {
    &__options {
        display: flex;
        justify-content: space-between;

        @media @media-phone {
            display: block;
        }
    }

    &__option {
        .tile();
        width: 48%;
        position: relative;

        @media @media-phone {
            display: block;
            width: auto;
            margin: 0 0 20px 0;
        }

        &-title {
            .text_size_xl();
            margin: 10px 0 15px;
        }

        &-image {
            height: 62px;

            &_pickpoint {
                height: 48px;
                margin-top: 14px;
            }
        }

        &-list {
            list-style: none;
            margin: 0;
            padding: 5px 0 0 5px;

            &-item {
                position: relative;
                padding: 25px 0 0 50px;

                &-image {
                    position: absolute;
                    top: 18px;
                    left: 0;
                }
            }
        }

        &-payment {
            margin-top: 35px;
        }

        &-soon {
            position: absolute;
            top: 10px;
            left: 10px;
            right: 10px;
            bottom: 10px;
            background-color: rgba(255,255,255,0.85);

            &-text {
                .text_size_xxl();
                position: absolute;
                left: 0;
                right: 0;
                bottom: 20px;
                text-align: center;
            }
        }
    }
}