@import (reference) '../../common/common';

.ui-paragraph {
    .text();
    margin: 0;
    hyphens: auto;

    & + & {
        margin-top: 15px;
    }

    &_hyphenated {
        text-align: justify;
    }
}